body{ margin:0;}

#container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}
#videobcg {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1;
}


.navbar::before {
    content:'';
    height:4.5em;
    width: calc(100% - 11em);
    border-bottom:2px solid rgb(0, 0, 0);
    margin-left: 8.5em;
    margin-right: 1em;
    position: fixed;
    top:30px;
    z-index: -100;
}

.navbar-placeholder {
    
    position: fixed;
    height:4.5em;
}




.logo img {
    height: 4.5em;
    margin: 12px;
}

.subsites {
    margin: 1em;
    list-style: none;
    display: flex;
}

.subsites li {
    margin-right: 4em;
}

.subsites li:last-child {
    margin-right: 5em;
}

.subsites a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
    font-family: "DM Sans", sans-serif;
}

.welcome {
    width: 4em;
    text-align: end;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.8em;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    position:absolute;
    bottom:0;
    right:0;
    margin: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
  }

  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
  }






