body{ margin:0;
    background-color: #f3f3f3;
    font-family: "DM Sans", sans-serif;
}

#container-home {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

#container {
    text-align: justify;
}

.content {
    padding-left: 25vw;
    padding-right: 25vw;
    box-sizing: border-box;
    padding-bottom: 5em;

}

@media screen and (max-width: 900px) {
    .content {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}


h1 {
    font-weight: 500;
    font-size: 3vw;
    text-align: left;
}
h2 {
    font-size: 2.5vw;
    text-align: left;
}
h3 {
    font-size: 2vw;
    text-align: left;
    margin-bottom: 0;
}
h4 {
    font-size: 1.5vw;
    text-align: left;
    margin-bottom: 0;
}
p {
    font-size: 1.1vw;
    font-family: "DM Sans", sans-serif;
    font-weight: 550;
    color: #606060;
}
.quote {
    font-size: 1.1vw;
    font-family: "DM Sans", sans-serif;
    font-weight: 550;
    font-style: italic;
    color: black;
}
#videobcg {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.navbar-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1;
}


.navbar-home::before {
    content:'';
    height:4.5em;
    width: calc(100% - 11em);
    border-bottom:2px solid rgb(0, 0, 0);
    margin-left: 8.5em;
    margin-right: 1em;
    position: fixed;
    top:30px;
    z-index: -100;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1;
}

.navbar::before {
    content:'';
    height:4.5em;
    width: calc(100% - 11em);
    border-bottom:2px solid rgb(0, 0, 0);
    margin-left: 8.5em;
    margin-right: 1em;
    position: absolute;
    top:30px;
    z-index: -100;
}

.navbar-placeholder {
    
    position: fixed;
    height:4.5em;
}

.imgfull {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}


.logo img {
    height: 4.5em;
    margin: 12px;
}

.subsites {
    margin: 1em;
    list-style: none;
    display: flex;
}

.subsites li {
    margin-right: 4em;
}

.subsites-home {
    margin: 1em;
    list-style: none;
    display: flex;
}

.subsites-home li {
    margin-right: 4em;
}

.subsites-home li:last-child {
    margin-right: 5em;
}

.subsites-home a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5em;
    font-family: "DM Sans", sans-serif;
}

.subsites a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5em;
    font-family: "DM Sans", sans-serif;
}

.welcome {
    width: 4em;
    text-align: end;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.8em;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    position:absolute;
    bottom:0;
    right:0;
    margin: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 24px;
}
th, td {
    border: 0px solid #ddd;
    padding: 1em;
    padding-right: 3em;
    padding-left: 0;
    vertical-align: text-top;
    text-align: left;
    width: 33.33%;
}
th {
    font-weight: bold;
}

.bullet-list {
    text-align: left;
}

#adnotation {
    text-align: center;
    padding-top: 2em;
    font-size: 1em;
}


.project {
    display: flex;
    margin-bottom: 20px;
  }

  .project img {
    width: 20vw;
    height: auto;
    margin-right: 20px;
  }

  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .project-title {
    margin-top: 0px;
    font-size: 24px;
    margin-bottom: 0px;
  }

  .project-subtitle {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
  }

  .project-description {
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: 550;
    color: #606060;
  }

  .brief {
    color: black;
    font-weight: 500;
  }

  .brief-b {
    color: black;
    font-size: 24px;
  }

  .name {
    text-align: center;
    font-size: 2vw;
  }